/* universal code  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* common code */
/* header section codes */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
  height: 100%;
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  padding: 0 240px;
  width: auto;
  height: 850px;
  flex-shrink: 0;
}
.header-title {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-description {
  width: 634px;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.header-button {
  padding: 20px 43px;
  border: 0px white;
  border-radius: 8px;
  background: #e55473;
  margin-top: 10px;
}
.header-image {
  width: 635px;
  height: 800px;
  padding-bottom: 0px;
  margin-top: 50px;
}
/* main section */
.main-title {
  text-align: center;
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  margin-top: 178px;
}
.main-description {
  text-align: center;
  /* width: 594px; */
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* flowers design */
.featured-flowers{
    padding: 0 240px;
}
.special-design {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 48px;
  gap: 24px;
}
.flowers {
  width: 464px;
  height: 538px;
}
.flower1 {
  padding: 110px 78px 0px 76px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.flower2 {
  padding: 117px 47px 51px 47px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.flower3 {
  padding: 67px 75px 0px 75px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
.flower-description {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
