/* universal code  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* common code */
/* header section codes */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 97px;
  height: 100%;
  width: 100%;
  background: rgba(229, 84, 115, 0.1);
  padding: 0 240px;
  width: auto;
  height: 850px;
  flex-shrink: 0;
}
.header-title {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.header-description {
  width: 634px;
  flex-shrink: 0;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.header-button {
  padding: 20px 43px;
  border: 0px white;
  border-radius: 8px;
  background: #e55473;
  margin-top: 10px;
}
.header-image {
  width: 635px;
  height: 800px;
  padding-bottom: 0px;
  margin-top: 50px;
}
